:root {
    --color-white: #fff;
    --color-black: #000;
    --color-dark-blue: #0000A4;
    --color-gray: #0000A44D;
    --color-placeholder: #00000061;
    --color-label: #00000099;
    --color-link: #0000D3;
    --color-text: #20202A;

}